body {
  font-family: Arial, sans-serif;
  background-color: rgba(50, 62, 69);
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #b7b4b4
}

nav{
  max-width: 900px;
  margin: auto;
  background-color: #333;
  font-size: 20px;
  margin-top: 50px;    
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li > a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menu-horizontal > li:hover{
  background-color: red;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 5);
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
.menu-vertical li:hover{
  background-color: rgb(29, 29, 31);
}
.menu-vertical li a {
  display: block;
  color:white;
  padding: 15px 15px 20px;
  text-decoration: none;
}

.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: #374d35;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pantalla {
  background-color: #374d35;
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #7b7b7b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #3d2828;
}

input[type="button"]:last-child {
  margin-right: 0;
} 

.but{
  width: 70px;
  height: 40px;
  border-radius: 35px;
  border: none;
  background-color: #7b7b7b;
  cursor:pointer;
  
  
}
.but[type="button"]:hover{
  background-color: #3d2828;
}



.conteiner{
  text-align: center;
}
.img{
  border-radius: 90px;
  width: 450px;
}


