*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a
}
img{
    cursor: pointer;
}
header{
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0);
    padding: 10px 2%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-izquierdo, .header-medio, .header-derecho{
    display: flex;
    align-items: center;
}
.header-medio{
    flex: 1;
    justify-content: center;
}
.menu-icon{
    width: 22px;
    margin-right: 25px;
}
.logo{
    
}